{% extends "base_visualizer.html" %}
{% load i18n static %}

    {% block content %}
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script type="text/javascript">
    
    window.onload = function () {
        var dps = [];
        var json = '{{voting}}'; 
        var v = JSON.parse(json);
        alert(v.title);

        for(option in v.postproc ) {
            dps.push({label: option.option , y: option.votes });
        }
        var chart = new CanvasJS.Chart("chartContainer", {
            title:{
                text: "Resultados"              
            },
            data: [              
            {
                type: "column",
                dataPoints: dps
            }
            ]
        });
        chart.render();
    }
    </script>

    <div>
        <section>
            <div class="headResults">
                <h1 class="headText">Resultados</h1>
                <div class="headResults2">
                    <h2 class="votingName">{{voting}}</h2>
                    <p>Id: {{voting.id }}</p>
                </div>
            </div>
            <div class="sectionBody">
                {% if not voting.start_date %}
                    <h2>{% trans 'Voting not started' %}</h2>
                {% elif not voting.end_date %}
                    <h2>{% trans 'Voting is opened' %}</h2>
                {% else %}
                        <div class="poll-option">
                                <table class="poll-option__result">
                                    <tr>
                                        <th class="optionName">Opción</th>
                                        <th>Votos postprocesado</th>
                                        <th>Votos totales</th>
                                    </tr>
                                    {% for option in voting.postproc %}
                                        <tr>
                                            <td class="optionName">
                                                <div class="options">
                                                    {{option.option}}
                                                </div>
                                            </td>
                                            </div>
                                            <td>
                                                {{option.postproc}}
                                            </td>
                                            <td>
                                                {{option.votes}}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                        </div>    
                {% endif %}
            </div>

            <div id="chartContainer" style="height: 300px; width: 100%;"></div>
        </section>
    </div>
    {% endblock %}