{% extends "base_visualizer.html" %}
{% load i18n static %}
    {% block content %}
    <section>
        <h1>{{ voting.id }} - {{ voting.name }}</h1>

        {% if not voting.start_date %}
            <h2>{% trans 'Voting not started' %}</h2>
        {% elif not voting.end_date %}
            <h2>{% trans 'Voting is opened' %}</h2>
        {% else %}
            <h2>{% trans 'Results: ' %}</h2>
            <ul>
                {% for option in voting.postproc %}
                <div class="poll-option">
                    <span class="poll-option__label">{{option.option}}</span>
                    <table class="poll-option__result">
                            <tr>
                              <td>{{option.postproc}}</td>
                              <td>
                                <span></span>
                                <span style="width: 25%;"></span>
                              </td>
                              <td>{{option.postproc}}</td>
                              <td>{{option.votes}} 'Votes'</td>
                            </tr>
                          </table>
                    <li>{{option.option}}: {{option.postproc}} <span>({{option.votes}})</span></li>
                </div>
                {% endfor %}
            </ul>
        {% endif %}
    </section>
    {% endblock %}